# Get these from https://developer.vasttrafik.se/
VASTTRAFIK_CLIENT_ID=your_client_id_here
VASTTRAFIK_CLIENT_SECRET=your_client_secret_here

# Your stop ID (we'll help you find this)
STOP_ID=your_stop_id_here
